@import 'typography.scss';
@import 'grid.scss';

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    background: $background-color;
    color: $text-color;
    font-family: $body-font;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

hr {
    border-top: 1px solid $text-color;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

img {
    max-width: 100%;
}

.section-black {
    background: $text-color;
    color: $background-color;
}