@font-face {
    font-family: 'Good Sans';
    src: url('/fonts/GoodSans-Medium.eot');
    src: url('/fonts/GoodSans-Medium.woff2') format('woff2'),
         url('/fonts/GoodSans-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Good Sans';
    src: url('/fonts/GoodSans-Bold.eot');
    src: url('/fonts/GoodSans-Bold.woff2') format('woff2'),
         url('/fonts/GoodSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

$body-font: 'Good Sans', Times, sans-serif;

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .75rem;
    line-height: 1rem;
}

h1, h2, h3, h4, h5, h6, p {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    margin-block-start: 0;
    margin-block-end: 0;
    @include breakpoint(md) {
        padding-left: rem-calc(16);
        padding-right: rem-calc(16);
    }
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
    line-height: 0.97;
    text-transform: uppercase;
}

p {
    font-size: vw-calc(12);
    line-height: 1.3333;
    @include breakpoint(lg) {
        font-size: vw-calc-lg(18);
    }
}

sup {
    position: relative;
    vertical-align: top;
    text-transform: none;
    font-weight: 500;
    letter-spacing: 0;
}

h1, .h1 {
    font-size: vw-calc(22);
    letter-spacing: -0.1vw;
    padding-top: 1rem;
    sup {
        top: .5vw;
        font-size: 30%;
        margin-left: .5%;
    }
    @include breakpoint(lg) {
        font-size: vw-calc-lg(60);
        sup {
            top: .5vw;
            font-size: 20%;
        }
    }
}

.lede {
    font-size: vw-calc(14);
    line-height: vw-calc(18);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
    sup {
        top: -.15vw;
        font-size: 60%;
    }
    @include breakpoint(lg) {
        font-size: vw-calc-lg(24);
        line-height: 1.25;
    }
}