$primary-color:#000000;
$secondary-color: #00FF83;
$text-color: #000000;
$background-color: #FFFFFF;

$global-margin: rem-calc(16);
$global-margin-lg: rem-calc(20);
$global-gutter: rem-calc(20);
$global-gutter-lg: rem-calc(20);

$breakpoint-md: 37.5;
$breakpoint-lg: 48;
$breakpoint-xl: 120;
$cols: 12;

@function rem-calc($n) {
    $n: $n * .0625rem;
    @return $n;
}

@function vw-calc($n) {
    $n: $n * .325vw;
    @return $n;
}

@function vw-calc-lg($n) {
    $n: $n * .0825vw;
    @return $n;
}

@mixin breakpoint($point) {
    @if $point == md {
      @media (min-width: $breakpoint-md * 1rem) { @content ; }
   }
    @if $point == lg {
      @media (min-width: $breakpoint-lg * 1rem) { @content ; }
   }
    @else if $point == xl {
      @media (min-width: $breakpoint-xl * 1rem) { @content ; }
   }
 }